html, body {
    height: 100vh;

}
body{
    background-color: rgb(252, 252, 252);
    background-image: url("");
}

  .carousel .item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
.card{
    border-radius: 10%;
    background-color: rgba(247, 247, 247, 0.619);
}